name: Validate if the Nix setup is correctly formatted and builds
on: [push]
jobs:
  check-if-formatted:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: rounakdatta
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Check format
      run: nix-shell -p nixpkgs-fmt --run 'nixpkgs-fmt --check .'
    - name: NixOS Configuration Evaluation Check
      run: nix-instantiate --eval --strict .#nixosConfigurations.ninezeroes.config.system.build.toplevel
    - name: Darwin Configuration Evaluation Check
      run: nix-instantiate --eval --strict .#darwinConfigurations.trueswiftie.system
    - name: Minimal Build Check (htop)
      run: nix build .#nixosConfigurations.ninezeroes.config.programs.htop.package
